@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Sacramento&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background: #F0F0F0;
}
p {
    font-size: 16px;
}
.inicio {
 background: url("../images/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.info-pousada {
    box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.16);
}
button {
    background: #FFCB05;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    margin-right: 30px;
    border: none;
}
.margin-top-header {
    margin-top: 30px;
}
.ajuste-cta {
    padding-top: 14px;
}

.h1-home {
    font-family: 'Sacramento', cursive;
    font-size: 96px;
    color: #ffffff;
    margin-top: 90px;
}

.h2-home {
    color: #ffffff;
    font-size: 19px;
    font-weight: lighter;
    margin-top: -30px;
}

.comp-reserva {
    background: #ffffff;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    margin-top: 20px;
    margin-bottom: 20px;
}

.h2-info {
    font-size: 16px;
    font-weight: bold;
}

.card-info {
    background: #ffffff;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    border-radius: 3px;

}
.border-info-box {
    border-left: solid 5px #FFCB05;
    padding-left: 10px;
}
.bg-card-1 {
    min-height: 130px;
    background: url(../images/bg-acomodacao.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-card-2 {
    min-height: 130px;
    background: url(../images/bg-atividades.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-card-3 {
    min-height: 130px;
    background: url(../images/bg-localizacao.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.p-card-info {
    font-size: 13px;
}
.comp-atracoes {
    background: url(../images/bg-atracoes.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}
.cta-outline {
    background: none !important;
    border: solid 1px #FFCB05;
    color: #ffffff;
    font-weight: bold;
}

footer {
    background: #ffffff;
}
.h2-footer {
    font-size: 16px;
    font-weight: lighter;
    width: 100%;
    padding: 0;
    margin: 0;

}